.va_xs {
  height: 1.125rem;
  width: 1.125rem;
  padding: 0.125rem;
}

.va_sm {
  height: 1.25rem;
  width: 1.25rem;
  padding: 0.125rem;
}

.va_default {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.125rem;
}

.va_lg {
  height: 1.75rem;
  width: 1.75rem;
  padding: 0.125rem;
}

.va_xl {
  height: 2rem;
  width: 2rem;
  padding: 0.125rem;
}

.po_widthAuto {
  width: auto;
}