.va_sm {
  height: 1rem;
  width: 1rem;
  padding: 0.125rem;
}

.va_default {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.125rem;
}

.va_lg {
  height: 2rem;
  width: 2rem;
  padding: 0.125rem;
}

.va_xl {
  height: 3rem;
  width: 3rem;
  padding: 0.125rem;
}

.po_widthAuto {
  width: auto;
}