@use 'layout';
@use 'color';

.header {
  @include layout.flex-center;

  position: sticky;
  border-bottom: 1px solid color.$border;
}

.nav {
  @include layout.main-part;
  @include layout.flex-center;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}