@use 'interface';
@use 'color';

.button {
  @include interface.clickable;

  font-size: 1rem;
  color: color.$brand-darker;
  padding: 0.375rem;

  &.va_outline {
    border: 1px solid color.$border;
    background-color: white;

    &:hover, &:focus, &:focus-visible {
      border: 1px solid color.$brand-darker;
      background-color: white;
    }
  }

  &.va_filled {
    border: 1px solid color.$brand;
    background-color: color.$brand;
    color: white;

    &:hover, &:focus, &:focus-visible {
      border: 1px solid color.$brand-darker;
      background-color: color.$brand-darker;
    }
  }

  &.va_icon {
    border-radius: 999999px;
  }

  &.po_size_lg {
    font-size: 1.5rem;
  }
}