$border: #D0D0D0;
$tag: #EEE;

$helper: #777;

$brand-lighter-3: hsl(142, 25%, 95%);
$brand-lighter-2: hsl(142, 25%, 80%);
$brand-lighter: hsl(142, 25%, 60%);
$brand: hsl(142, 25%, 50%);
$brand-darker: hsl(142, 25%, 40%);
$brand-darker-2: hsl(142, 25%, 20%);
$brand-darker-3: hsl(142, 25%, 5%);