$border: #DDD;

$brand-lighter-3: hsl(142, 40%, 95%);
$brand-lighter-2: hsl(142, 40%, 80%);
$brand-lighter: hsl(142, 40%, 60%);
$brand: hsl(142, 40%, 50%);
$brand-darker: hsl(142, 40%, 40%);
$brand-darker-2: hsl(142, 40%, 20%);
$brand-darker-3: hsl(142, 40%, 5%);