@use 'layout';
@use 'color';

.header {
  @include layout.flex-center;

  position: sticky;
  width: 100%;
  top: 0;
  background-color: white;
  border-bottom: 1px solid color.$border;
  z-index: 10;
}

.nav {
  @include layout.main-part;
  @include layout.flex-center;

  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}