@use "color";
@use "duration";

@use "components/input";

$labelLineHeight: 0.875rem;
$labelFontSize: 0.75rem;
$sepHeight: 0.125rem;
$inputRawLineHeight: input.$lineHeight;
$inputRawFontSize: input.$fontSize;
$padding-y: input.$paddingY;
$padding-x: input.$paddingX;

$inputLineHeight: $labelLineHeight + $inputRawLineHeight + $sepHeight;

.input {
  position: relative;

  .label {
    position: absolute;
    line-height: $inputLineHeight;
    font-size: $inputRawFontSize;
    transition: line-height duration.$base, font-size duration.$base, color duration.$base;
    padding: $padding-y $padding-x;
    border: 1px solid transparent;
    color: color.$helper;
    cursor: text;

    &:hover + input {
      border: 1px solid color.$brand-darker;
    }

    &.st_state_inputed, &.st_state_focus {
      line-height: $labelLineHeight;
      font-size: $labelFontSize;
    }

    &.st_state_focus {
      color: color.$brand-darker;
    }
  }

  .inputRaw {
    width: 100%;
    padding-top: ($labelLineHeight + $sepHeight + $padding-y);
    padding-bottom: $padding-y;
    padding-right: $padding-x;
    padding-left: $padding-x;
    line-height: $inputRawLineHeight;
    font-size: $inputRawFontSize;
    outline: 0;
    border: 1px solid color.$border;
    border-radius: 0.25rem;
    transition: border-color duration.$base;

    &:hover,
    &:focus,
    &:focus-visible {
      border: 1px solid color.$brand-darker;
    }
  }
}